<!DOCTYPE html>
<html>
<head>
    <title> Mislisina memorija </title>
    <meta charset="utf-8">
    <!--Import css -->
    <link rel="stylesheet" href="css/game.css">
</head>
<body>
    <div id="game">
        <p>Čekanje protivnika!</p>
        <img src="img/load.gif" alt="...">
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/game/io.js"></script>
    <script src="js/game/mislisina_memorija.js"></script>
    <script src="js/game/game.js"></script>
</body>
</html>
