<!DOCTYPE html>
<html>
<head>
    <title> Mislisina memorija </title>
    <meta charset="utf-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--Import css -->
    <link rel="stylesheet" href="css/game.css">
</head>
<body>
    <div id="game">
        <p>Čekanje protivnika!</p>
        <img src="img/load.gif" alt="...">
    </div>
    <div class="container" id="result">
            <hr>
            <div class="row  h-25">
                <div class="col-sm-4">
                    <p id="fNickname">Prvi igrac</p>
                     <kbd id="fScore">0</kbd>
                </div>
                <div class="col-sm-4">
                    <h3>REZULTAT</h3>
                </div>
                <div class="col-sm-4">
                    <p id="sNickname">Drugi igrac</p>
                     <kbd id="sScore">0</kbd>
                </div>
		    </div>
            <hr>
            <div class="row h-50">
                <div class="col-sm-4 text-center">
                    <kbd id="fMislisinaMemorija">1</kbd>
                </div>
                <div class="col-sm-4">
                    <img src="/img/17.gif" class="img-responsive res_img" alt="mislisina_memorija">
                </div>
                <div class="col-sm-4 text-center">
                    <kbd id="sMislisinaMemorija">1</kbd>
                </div>
		    </div>
            <hr>
            <div class="row h-50">
                <div class="col-sm-4 text-center">
                    <kbd id="fMudraPcela">1</kbd>
                </div>
                <div class="col-sm-4">
                    <img src="/img/flw.png" class="img-responsive res_img" id="res_smart_bee" alt="pemetna pcela">
                </div>
                <div class="col-sm-4 text-center">
                    <kbd id="sMudraPcela">1</kbd>
                </div>
		    </div> 
            <hr>
            <div class="row h-50">
                <div class="col-sm-4 text-center">
                    <kbd id="fUdariPandu">1</kbd>
                </div>
                <div class="col-sm-4">
                    <img src="/img/panda.jpg" class="img-responsive res_img"  alt="udari pandu">
                </div>
                <div class="col-sm-4 text-center">
                    <kbd id="sUdariPandu">1</kbd>
                </div>
		    </div>
            <hr>
            <div class="row h-50">
                <div class="col-sm-4 text-center">
                    <kbd id="fVagalica">uskoro</kbd>
                </div>
                <div class="col-sm-4">
                    {{!-- <img src="/img/panda.jpg" class="img-responsive res_img" alt="vagalica"> --}}
                </div>
                <div class="col-sm-4 text-center">
                    <kbd id="sVagalica">uskoro</kbd>
                </div>
		    </div>
            <hr>
        </div>
    <script>
        //Ovde cuvam nadimak igraca
        var nickname = "{{nickname}}";
    </script>
    <script src="js/game/jquery-3.3.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/game/io.js"></script>
    <script src="js/game/mislisina_memorija.js"></script>
    <script src="js/game/mudra_pcela.js"></script>
    <script src="js/game/udari_pandu.js"></script>
    <script src="js/game/vagalica.js"></script>
    <script src="js/game/results.js"></script>
    <script src="js/game/game.js"></script>
</body>
</html>
